.voluntary-suffocation {
    color: #E80000;
}

.time-pass {
    color: #E88300;
}

.watchable {
    color:  #5100BC;
}

.pretty-good {
    color: #5FC5FC;
}

.recommended {
    color: #0AA851;
}

.show-heading {
    font-size: 16px;
}

.production-house {
    background-color: #BDA8FF;
}