<div class="panel panel-primary">
  <div class="panel-heading">
    <h5><strong>CHOOSE THE OPTIONS TO FILTER THE LIST BY:</strong></h5>
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row form-group">
        <span class="col-lg-2">
          <input type="checkbox" name="favorite" value="favorite" [(ngModel)]="filterOptions.isFavorite" />
          <span>Favorite</span>
        </span>
        <span class="col-lg-2">
          <input type="checkbox" name="ended" value="ended" [(ngModel)]="filterOptions.isEnded" />
          <span>Ended/Cancelled</span>
        </span>
        <span class="col-lg-2">
          <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Production House
              <span class="caret"></span>
            </button>
            <ul class="row form-group dropdown-menu">
              <li *ngFor="let production of productionHouseList" id="production.productionHouseId">
                <a> <input type="checkbox" [(ngModel)]="production.checked" /><span>{{production.productionHouse}}</span> </a>
              </li>
            </ul>
        </span>
        <span class="col-lg-2">
            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Online Channel
                <span class="caret"></span>
              </button>
              <ul class="row form-group dropdown-menu">
                <li *ngFor="let channel of channelList" id="channel.onlineChannelId">
                  <a> <input type="checkbox" [(ngModel)]="channel.checked" /><span>{{channel.onlineChannel}}</span> </a>
                </li>
              </ul>
        </span>
        <span class="col-lg-2">
            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Language
                <span class="caret"></span>
              </button>
              <ul class="row form-group dropdown-menu">
                <li *ngFor="let language of languageList" id="language.languageId">
                  <a> <input type="checkbox" [(ngModel)]="language.checked" /><span>{{language.language}}</span> </a>
                </li>
              </ul>
        </span>
        <span class="col-lg-2">
          <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Watch Status
            <span class="caret"></span>
          </button>
          <ul class="row form-group dropdown-menu">
            <li *ngFor="let status of statusList" id="status.watchStatusId">
              <a> <input type="checkbox" [(ngModel)]="status.checked" /><span>{{status.watchStatus}}</span> </a>
            </li>
          </ul>
        </span>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-success" (click)="applyFilter()">Apply Filters</button>
        <button type="reset" class="btn btn-primary" (click)="clearFilter()">Clear Filters</button>
      </div>
    </div>
  </div>
</div>
<!-- <span class="glyphicon glyphicon-ok-sign"></span>
<div class="container-fluid">
  <label *ngFor="let option of filterOptions; let i = index" class="checkbox-inline">
    <input type="checkbox" [class]="option.class" (click)="showClick(option)" name="filterOptions"
      value="{{option.value}}" [(ngModel)]="option.checked" /> {{option.name}}
  </label>
</div> -->